  @font-face {
    font-family: "DejaVuSansMono";
    src: url("./fonts/DejaVuSansMono.eot");
    src: url("./fonts/DejaVuSansMono.eot?#iefix") format("embedded-opentype"), url("./fonts/DejaVuSansMono.otf") format("opentype"), url("./fonts/DejaVuSansMono.svg") format("svg"), url("./fonts/DejaVuSansMono.ttf") format("truetype"), url("./fonts/DejaVuSansMono.woff") format("woff"), url("./fonts/DejaVuSansMono.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
  }

  * {
    margin: 0;
  }

  html, body {
    width: 100%;
    height: 100%;
    text-align: center;
  }

  body {
    background-color: rgb(58, 61, 75);
    transition: background-color .5s;
  }

  #meme_fam {
    font-family: DejaVuSansMono;
    margin-top: 10vh;
    margin-right: 10px;
    margin-left: 10px;
    color: rgb(130, 189, 111);
    font-size: 30px;
  }

  .para {
    color: rgb(206, 206, 192);
    font-family: DejaVuSansMono;
    margin: 20px;
  }

  .subtitle {
    font-family: DejaVuSansMono;
    color: rgb(78, 131, 169);
  }

  hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    width: 30%;
    margin:0 auto;
  }

  .wtaff {
    color: rgb(164,61,75);
    text-decoration: underline;
  }

  .heading {
    color: rgb(128,96,216);
    font-family: DejaVuSansMono;
    font-size: 20px;
  }

  .quote {
    color: rgb(130, 189, 111);
    font-family: DejaVuSansMono;
    font-size: 15px;
  }

  a {
    font-family: DejaVuSansMono;
    color: rgb(6,168,148);
    text-decoration: none;
    transition: color 0.3s linear;
    -webkit-transition: color 0.3s linear;
    -moz-transition: color 0.3s linear;
    text-align: center;
  }

  a:hover {
    color: white;
  }


.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.this {
  color: lightgray;
  cursor:pointer;
  float: left;
  margin: -10px;
  position: fixed;
  top: 10px;
  left: 15px;
}

.bigbuttons {
  width:30px;
  height: 30px;
}