  @font-face {
    font-family: "DejaVuSansMono";
    src: url("./fonts/DejaVuSansMono.eot");
    src: url("./fonts/DejaVuSansMono.eot?#iefix") format("embedded-opentype"), url("./fonts/DejaVuSansMono.otf") format("opentype"), url("./fonts/DejaVuSansMono.svg") format("svg"), url("./fonts/DejaVuSansMono.ttf") format("truetype"), url("./fonts/DejaVuSansMono.woff") format("woff"), url("./fonts/DejaVuSansMono.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
  }

  * {
    margin: 0;
  }

  html, body {
    width: 100%;
    height: 100%;
    text-align: center;
  }

  body {
    background-color: rgb(58, 61, 75);
  }

  #meme_fam {
    font-family: DejaVuSansMono;
    margin-top: 10vh;
    color: rgb(130, 189, 111);
    font-size: 40px;
  }

  .topbar {
    width: 100%;
    height: 7%;
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    z-index: 2
  }

  .topspace {
    width: 100%;
    height: 7%;
    background-color: rgb(58, 61, 75);
    z-index: -1
  }

  .me_me {
    font-family: DejaVuSansMono;
    color: rgb(128, 96, 216);
    text-decoration: none;
    transition: color 0.3s linear;
    -webkit-transition: color 0.3s linear;
    -moz-transition: color 0.3s linear;
    text-align: center;
  }

  .me_me:hover {
    color: white;
  }

  .para {
    color: rgb(206, 206, 192);
    font-family: DejaVuSansMono;
  }

  .a1 {
    margin-top: 20px;
    color: rgb(164, 61, 75);
    font-family: DejaVuSansMono;
  }

  .a1:link {
    color: rgb(164, 61, 75);
  }

  .a1:visited {
    color: rgb(164, 61, 75);
  }

  .a1:hover {
    color: rgb(164, 61, 75);
  }

  .a1:active {
    color: rgb(164, 61, 75);
  }

  #overview {
    font-family: DejaVuSansMono;
    color: rgb(78, 131, 169);
  }

  hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    width: 30%;
    margin:0 auto;;
  }
